{% load static from staticfiles %}
<script src='/site_media/static/js/site-5e73bbeeb0.js'></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script type="text/javascript" src="{% static 'jquery.timepicker.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'jquery.timepicker.css' %}" />

<script type="text/javascript" src="{% static 'lib/bootstrap-datepicker.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap-datepicker.css' %}" />

<script type="text/javascript" src="{% static 'lib/site.js' %}"></script>
<link rel="stylesheet" type= "text/css" href="{% static 'lib/site.css' %}" />

<script>
$('#time_min').datepicker({
        'format': 'm-d-yyyy',
        'autoclose': true
    });

$('#time_max').datepicker({
        'format': 'm-d-yyyy',
        'autoclose': true
    });
</script>