{% extends "site_base.html" %}


{% load staticfiles %}
{% load bootstrap %}
{% load i18n %}




{% block body %}

{% for calendar_summary, events in search_results.items %}
<h4>{{ calendar_summary }}</h4>
    {% for event in events %}
        <ul>
            <li><a href="{{ event.htmlLink }}">Title: {{ event.summary }}</a></li>
            {% if request.user.is_staff %}
            <a href= "{% url 'gcal_show_event' event.id  %}">Manage Event</a>
            {% endif %}
            <li>Start: {{ event.start.dateTime }}</li>
            <li>End: {{ event.end.dateTime }}</li>
            <li>Location: {{ event.location }}</li>
            <li>Description: <br> {{ event.description }}</li>
        </ul>
        <hr>
    {% endfor %}

{% endfor %}
{% endblock %}

