{% extends "site_base.html" %}

{% load i18n %}
           
{% block body %}
     
    <section>
        <div class="text-center" id="calendar">
            <h1>{% blocktrans %}Welcome to the <br>{{ SITE_NAME }} Page{% endblocktrans %}</h1>
            <iframe src="https://calendar.google.com/calendar/embed?title=San%20Diego%20Burner%20Events&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;{% for calendar in calendars %}src={{ calendar.id }}&amp;color=%23{{ calendar.color }}&amp;{% endfor %}" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
        </div>
    </section>    
   
    <section>
        <div class="text-center">
            {% if not user.is_authenticated %}
                {% url "account_login" as login_url %}
                {% url "account_signup" as signup_url %}
                <p>{% blocktrans %}You can <a href="{{ login_url }}" class="btn btn-primary">Log In</a> or <a href="{{ signup_url }}" class="btn btn-primary">Sign Up</a> to receive information about upcoming events or to let the community know about events in the area.{% endblocktrans %}</p>
                {% endif %}
        </div>
    </section>

    <section>
        <h4>{{ blog.date }}</h4><br>
        <p>{{ blog.entry }}</p>
    </section>

{% endblock %}
