{% extends "site_base.html" %}

{% load i18n %}



{% block body_class %}home{% endblock %}

{% block body %}
    <section class="jumbotron">
        <div class="container">
            {% include "_messages.html" %}
            <div class="text-center">
                <h1>{% blocktrans %}Welcome to the<br>San Diego Burner Event Page{% endblocktrans %}</h1>
                <iframe src="https://calendar.google.com/calendar/embed?title=San%20Diego%20Burner%20Events&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=2hbus9o0mmnt8rhodedbhiq5n8%40group.calendar.google.com&amp;color=%23A32929&amp;src=ontckbd0rdtbsapj3vahqp5dco%40group.calendar.google.com&amp;color=%2328754E&amp;src=1ib7cfo3sfh1nk8ggliu3p18gs%40group.calendar.google.com&amp;color=%23865A5A&amp;src=jieqlbpa8d8c06vlgo4iu0jpok%40group.calendar.google.com&amp;color=%23853104&amp;src=mjjdfcamm1i9c9n52aduq00ln0%40group.calendar.google.com&amp;color=%23182C57&amp;src=ndg85aqbhq3rqhlrmc47sq0tp0%40group.calendar.google.com&amp;color=%235B123B&amp;ctz=America%2FLos_Angeles" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
            </div>
        </div>
    </section>
    <section>
        <div class="text-center">
            <!--<a href= "{% url "event_list" %}"><h2>{% trans "View Upcoming Events" %}</h2></a>-->
            {% if not user.is_authenticated %}
                {% url "account_login" as login_url %}
                {% url "account_signup" as signup_url %}
                <p>{% blocktrans %}You can <a href="{{ login_url }}" class="btn btn-primary">Log In</a> or <a href="{{ signup_url }}" class="btn btn-primary">Sign Up</a> to receive information about upcoming events or to let the community know about events in the San Diego Area.{% endblocktrans %}</p>

            {% else %}
                <a href= "{% url "create_event" %}"><h2>{% trans "Create a new Event" %}</h2></a>
            {% endif %}
            {% if request.user.is_staff %}
                <a href= "{%url "RCapprove" %}"><h2>{% trans "View Unapproved Events" %}</h2></a>
            {% endif %}
        </div>
    </section>

    <section>
        Calendars<br>
        {% for calendar in calendars %}
        <a href="{% url "calendar" calendar.order %}"> {{ calendar.summary }}</a><br>
        {% endfor %}
    </section>
{% endblock %}
