{% extends "theme_bootstrap/base.html" %}

{% load static from staticfiles %}
{% load metron_tags %}
{% load i18n %}


{% block styles %}
    <link href="{% static 'site.css' %}" rel="stylesheet">
    {% include "_styles.html" %}
{% endblock %}


{% block body_base %}
<div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <h4>Calendars:</h4>
            <ul class="no-bullets">
                
                {% for calendar in calendars %}
                <a href="{% url 'calendar' calendar.order %}"><li> {{ calendar.summary }}</a></li>
                {% endfor %}
            </ul>
            <hr> 
            <h4>Upcoming Events</h4><br>
            <form action="{% url 'search' %}" method="get">
                <label for="time_min">From</label>
                <input id="time_min" class="form-control" name="time_min" type="text" value="{{ today }}" /> 
                <label for="time_max">To</label>
                <input id="time_max" class="form-control" name="time_max" type="text" /><br>
                <input type="submit" class="btn btn-primary btn-sm pull-right" value="Search">
            </form>
            <hr>
            {% block extra_sidebar %} {% endblock %}
            {% if user.is_authenticated %}
                <div class='text-center'>
                <a href= "{% url 'create_event' %}"><h4>{% trans "Create a new Event" %}</h4></a>
                {% if request.user.is_staff %}
                    <a href= "{% url 'unapproved' %}"><h4>{% trans "View Unapproved Events" %}</h4></a>
                    <a href= "{% url 'calendar_list' %}"><h4>{% trans "Manage Calendars" %}</h4></a>
                    <a href= "{% url 'all_events' %}"><h4>{% trans "Manage Events" %}</h4></a>
                    <a href= "{% url 'refresh' %}"><h4>{% trans "Refresh Database" %}</h4></a>
                    <a href= "{% url 'site' %}"><h4>{% trans "Manage Site" %}</h4></a>
                    <a href= "{% url 'blog_create' %}"><h4>{% trans "Write blog entry" %}</h4></a>
                {% endif %}
                
                </div>
            {% endif %}  
        </div>
        <!-- /#sidebar-wrapper -->        
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <section id="content_body">
                            
                                {% include "_messages.html" %}
                                {% block body %}
                                {% endblock %}
                        </section>
                        <hr />
                        <footer>
                            <div class="container-fluid text-center">
                                <p>{% trans "This site is community built and maintained. It is not responsible for or affiliated with Burning Man, LLC or any events, groups, websites, or information linked/promoted here." %} </p> 
                            </div>
                        </footer>                        
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->        

</div>

{% endblock %}





{% block scripts %}
    {% include "_scripts.html" %}
    {% block page_scripts %}{% endblock %}
{% endblock %}

{% block extra_body_base %}
    {% analytics %}
    {% block extra_body %}{% endblock %}
{% endblock %}

{% block footer_base %}

{% endblock %}