<ul>
<li>Title: <a href= "{% url 'show_event' event.id %}">{{ event.summary }}</a></li>
<li>Start: {{ event.start }}</li>
<li>End: {{ event.end }}</li>
<li>Location: {{ event.location }}</li>
<li>Website: {{ event.url }}</li>
<li>Description: <br> {{ event.description }}</li>
{% if event.gcal_id %}
<li>This event is shown on the {{ event.calendar }} calendar.</li>
{% else%}
<li>This event his not visible in the calendar.</li>
{% endif %}
{% if rrules %}
<ul>
{% for rule in rrules %}
<li>Recurrence: {{ rule }} <a href="{%url 'delete_recurrence' event.id rule.id %}">(Delete)</a></li>
{% endfor %}
</ul>
{% else %}
<li>No Recurrence</li>
{% endif %} <br><br>
Private information. Not shown on site.<br>
<li>Created by: {{ event.creator.email }} </li>
<li>Notes: <br>
{{ event.rcnotes }}</li>
</ul>
