{% extends "site_base.html" %}
{% load staticfiles %}
{% load bootstrap %}
{% load i18n %}


{% block head_title %}{{ calendar.summary }} {% endblock %}

{% block body %}
<section class="jumbotron">
        <div class="container">
            {% include "_messages.html" %}
            <div class="text-center">
                <h1>{{ calendar.summary }}</h1>
                <iframe src="https://calendar.google.com/calendar/embed?title={{ calendar.summary }}&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src={{ calendar.id }}&amp;color=%23A32929&amp;ctz=America%2FLos_Angeles" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
            </div>
        </div>
    </section>
<ul>
    <div class="row">
        <div class="col-md-3">sidebar nav</div>
        
        <div class="col-md-9">
            {% for event in events %}
                <li>Title: {{ event.summary }}</li>
                <li>Date: {{ event.start.dateTime}}</li>
                <li>Location:{{ event.location }}</li>
                <li>Description: {{ event.description }}</li>
                <hr>
            {% endfor %}
            </div>
      </div>
</ul>
{% endblock %}
