{% extends "site_base.html" %}
{% load staticfiles %}
{% load bootstrap %}
{% load i18n %}


{% block head_title %}{{ calendar.summary }} {% endblock %}

{% block body %}
<section class="jumbotron">
        <div class="container">
            {% include "_messages.html" %}
            <div class="text-center">
                <h1>{{ calendar.summary }}</h1>
                <p>{{ calendar.description }}</p>
                <iframe src="https://calendar.google.com/calendar/embed?title={{ calendar.summary }}&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src={{ calendar.id }}&amp;color=%23{{ calendar.color }}&amp;" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
            </div>
        </div>
    </section>
    <ul>
        {% for event in events %}
            <ul>
                <li><a href="{{ event.htmlLink }}">Title: {{ event.summary }}</a></li>
                {% if request.user.is_staff %}
                <a href= "{% url 'calendar_gcal_show_event' calendar.id event.id %}">Manage Event</a>
                {% endif %}
                <li>Start: {{ event.start.dateTime }}</li>
                <li>End: {{ event.end.dateTime }}</li>
                <li>Location: {{ event.location }}</li>
                <li>Description: <br> {{ event.description }}</li>
            </ul>
            <hr>
        {% endfor %}
    </ul>
{% endblock %}
