{% extends "site_base.html" %}


{% load staticfiles %}
{% load bootstrap %}
{% load i18n %}

{% block head_title %}Upcoming Events{% endblock %}

{% block body %}
<ul>
    <div class="row">
        <div class="col-md-3">sidebar nav</div>
        
        <div class="col-md-9">
            {% for event in event_list %}
                <li>Title: {{ event.summary }}</li>
                <li>Date: {{ event.start }}</li>
                <li>Location:{{ event.location }}</li>
                <li>Description: {{ event.description }}</li>
                <hr>
            {% endfor %}
            </div>
      </div>
</ul>
{% endblock %}