
{% extends "site_base.html" %}

{% load staticfiles %}
{% load bootstrap %}
{% load i18n %}

{% block head_title %}Update your Burner Profile{% endblock %}

{% block body %}
<h1> Update your Burner Profile </h1>
<section>
    <p> If you do not wish to receive monthly email updates, feel free to leave all checkboxes blank and hit submit.</p>
    <p>You may update your choices at any time by clicking on your email address at the top.</p>
    <div class="row">
        <div class="col-md-8">
             <form method="POST">
                {% csrf_token %}
                {{ form|bootstrap }} 
                <input type="submit" value="Submit" class="btn btn-primary"/>
            </form>
        </div>
    </div>
</section>
<section>
    {% if events %}
        <h2>Your events:</h2>
        {% for event in events %}
            <ul>
            <li><a href="{% url 'update_event' event.id %}">Title: {{ event.summary }}</a></li>
            <li>Date: {{ event.start }}</li>
            <li>Location:{{ event.location }}</li>
            <li>Description: {{ event.description }}</li>
            </ul>
            <hr>
        {% endfor %}
    {% endif %}
</section
{% endblock %}



