
{% extends "site_base.html" %}


{% load staticfiles %}
{% load bootstrap %}
{% load i18n %}

{% block head_title %}Recurrence{% endblock %}
 {% block extra_head %}
 

{{ form.media }}
 {% endblock %}

{% block body %}
Edit this event's recurrence rule.
<div class="row">
    <div class="col-md-8">
     <form method="POST">
        {% csrf_token %}
        {{ form|bootstrap }} 
        <input type="submit" value="Submit" class="btn btn-primary"/>
    </form>
</div>
</div>
{% endblock %}

{% block page_scripts %} 
<script>
$('#id_until').datepicker({
        'format': 'yyyy-m-d',
        'autoclose': true
    });
$('#id_rdate').datepicker({
        'format': 'yyyy-m-d',
        'autoclose': true
    });
$('#id_exdate').datepicker({
        'format': 'yyyy-m-d',
        'autoclose': true
    });
</script>
{% endblock %}

