{% extends "account/base.html" %}


{% load bootstrap %}
{% load i18n %}
{% block body_class %}account account-events{% endblock %}
{% block head_title %}{% trans "Update your Burner Profile" %}{% endblock %}

{% block body %}
    {% if events %}
        <h2>Your events:</h2>
        {% for event in events %}
            <ul>
            <li><a href="{% url 'update_event' event.id %}">Title: {{ event.summary }}</a></li>
            <li>Date: {{ event.start }}</li>
            <li>Location:{{ event.location }}</li>
            <li>Description: {{ event.description }}</li>
            </ul>
            <hr>
        {% endfor %}
    {% endif %}

{% endblock %}
