{% extends "site_base.html" %}


{% load staticfiles %}
{% load bootstrap %}
{% load i18n %}

{% block head_title %}{{ calendar.summary }}{% endblock %}

{% block body %}
<ul>
    <div class="row">
        <div class="col-md-3">
            {% if request.user.is_staff %}
            <a href="{% url 'refresh' calendar.id %}">Refresh database</a>
            {% endif %}
        </div>
        
        <div class="col-md-9">
            <ul>
            {% for event in events %}
                {% include '_event.html' %}
                <hr>
            {% endfor %}
            </ul
            </div>
      </div>
</ul>
{% endblock %}