{% extends "site_base.html" %}


{% load staticfiles %}
{% load bootstrap %}
{% load i18n %}

{% block head_title %}{{ calendar.summary }}{% endblock %}

{% block body %}
<ul>
    <div class="row">
        <div class="col-md-3"><a href="{% url 'refresh' calendar.id %}">Refresh database</a></div>
        
        <div class="col-md-9">
            {% for event in events %}
                <li>Title: <a href= "{% url 'show_event' event.id %}">{{ event.summary }}</a></li>
                <li>Date: {{ event.start }}</li>
                <li>Location:{{ event.location }}</li>
                <li>Description: {{ event.description }}</li>
                <hr>
            {% endfor %}
            </div>
      </div>
</ul>
{% endblock %}