
{% extends "site_base.html" %}


{% load staticfiles %}
{% load bootstrap %}
{% load i18n %}

{% block head_title %}Create an Event{% endblock %}
 {% block extra_head %}
 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
{{ form.media }}
 {% endblock %}

{% block body %}
Create an event.

<div class="row">
    <div class="col-md-8">
         <form method="POST">
            {% csrf_token %}   
            {{ form|bootstrap }} 
            <input type="submit" value="Submit" class="btn btn-primary"/>
            {% if request.user.is_staff %}
                {% if event.id %}
                <br><br><input type="submit" formaction="{% url admin_url event.id %}" value="Submit and Approve" class="btn btn-success"/>
                {% else %}
                <br><br><input type="submit" formaction="{% url admin_url %}" value="Submit and Approve" class="btn btn-success"/>
                {% endif %}
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}



